extends _utilities/base

block content
    .post-layout
        .content
            - if (page.cover) {
                img(src=url_for(page.cover) class="cover")
            - }

            h1(class="title") #{page.title}

            .meta
                ul
                    li
                        iconify-icon(icon="uil:calender")
                        span #{date(page.updated, 'YYYY-MM-DD')}

                    li
                        - const content = strip_html(page.content);
                        - const word = content.length;
                        - const display = word >= 1000 ? (word / 1000).toFixed(1) + 'k' : word;
                        iconify-icon(icon="mingcute:align-left-line")
                        span 大约 #{display} 字

            .markdown !{page.content}

            - if (page.tags.length) {
                .tags
                    iconify-icon(icon="ic:round-tag")
                    ul
                        - page.tags.forEach(function (tag) {
                            li
                                a(href=url_for(tag.path)) #{tag.name}
                        - })
            - }

            .copyright
                span #[strong 本文作者:] #{theme.author.name}
                span #[strong 本文链接:] #[a(href=url_for(page.permalink)) #{page.permalink}]
                span #[strong 版权声明:] 本博客所有文章除特别声明外，均采用 #[<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC-SA 4.0</a>] 许可协议。转载请注明出处！

        .sidebar
            - let toc_content = toc(page.content, { list_number: theme.toc.numbers, max_depth: theme.toc.depth })
            - if (theme.toc.enabled && toc_content) {
                .toc-box
                    .toc-title 目录
                    .toc-content !{ toc_content }
            - }
