- function is_active(name) {
-   return current_path() === name? "active": "inactive"
- }

.background
    .layout
        -  const subtitle = theme.subtitle || config.title;
        h1 #{subtitle}

        .navigation
            ul
                li
                    a(href="/" class=is_active("/")) 主页

        .toolbar
            // 等我后面再慢慢写吧
            // 页需慢慢写，心急则重写（）
            ul
                - if (theme.toolbars.theme_switcher.enabled) {
                    li
                        button(onclick="switch_theme()")
                            iconify-icon(icon="tabler:sun", id="theme_btn_icon")
                - }

                li(id="mobile_menu_btn")
                    button(onclick="open_mobile_nav()")
                        iconify-icon(icon="material-symbols:menu-rounded")

.mobile-background.inactive
    .mobile-layout
        ul
            - for (let name in theme.navigations) {
                li
                    a(href=url_for(theme.navigations[name]) class=is_active("/")) #{name}
            - }
